backend/config/
backend/models/
backend/seeders
backend/migrations
frontend/src/assets/iptable.json
backend/node_modules
backend/uploads
frontend/node_modules
backend/public
backend/nohup.out
